src/main/resources/c3p0.properties
target/
.idea/
.classpath
.cache-main
.cache-tests
.project
.settings/
.lib/
.docker-bld
.docker-compile
.docker-exec
.docker-exec-run
project/project/
/bin/

docker/fs/root/.ssh/id_*
docker-exec/
docker-bld/
