# Created/used by sbt
project/project/
target/
.lib/

# Create by Makefile to hold build timestamps
.docker-bld
.docker-compile
.docker-exec
.docker-exec-run

# IntelliJ IDEA
.idea/

# Eclipse?
.classpath
.cache-main
.cache-tests
.project
.settings/
