# Created/used by sbt
/bin/
project/project/
target/
.lib/

# Create by Makefile to hold build timestamps
/.docker-*

/keys/

# IntelliJ IDEA
.idea/
/exchange-api.iml
/.bsp/

# VSCode
/.bloop/
/.metals/
/.vscode/
/project/.bloop/
/project/metals.sbt

# Eclipse?
.classpath
.cache-main
.cache-tests
.project
.settings/


# Mac specific
.DS_Store
