<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="15 minutes">
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>TRACE</level>
    </filter> -->
    <encoder>
     <pattern>[%date{ISO8601}] %-58([%logger]) [%marker] %-42([%thread]) %highlight(%-7([%level])) -%kvp- %msg%n</pattern>
    </encoder>
  </appender>

  <!-- <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>target/myapp-dev.log</file>
    <encoder>
      <pattern>[%date{ISO8601}] %-42([%logger]) [%marker] %-42([%thread]) %-7([%level]) - %msg%n</pattern>
    </encoder>
  </appender> -->

  <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
    <queueSize>8192</queueSize>
    <neverBlock>true</neverBlock>
    <appender-ref ref="STDOUT" />
  </appender>

  <!-- <appender name="ASYNC2" class="ch.qos.logback.classic.AsyncAppender">
    <queueSize>8192</queueSize>
    <neverBlock>true</neverBlock>
    <appender-ref ref="FILE"/>
  </appender> -->


  <logger name="ch.qos.logback.classic.model.processor.LoggerModelHandler"    level="${EXCHANGE_LOG_LOGBACK_APPENDERREFMODELHANDLER:-off}" />
  <logger name="ch.qos.logback.core.model.processor.AppenderRefModelHandler"  level="${EXCHANGE_LOG_LOGBACK_LOGGERMODELHANDLER:-off}" />
  <logger name="com.zaxxer.hikari.HikariConfig"                               level="${EXCHANGE_LOG_HIKARI_CONFIG:-debug}" />
  <logger name="com.zaxxer.hikari.HikariDataSource"                           level="${EXCHANGE_LOG_HIKARI_DATASOURCE:-debug}" />
  <logger name="com.zaxxer.hikari.pool.HikariPool"                            level="${EXCHANGE_LOG_HIKARI_POOL:-info}" />
  <logger name="com.zaxxer.hikari.pool.PoolBase"                              level="${EXCHANGE_LOG_HIKARI_POOL_BASE:-info}" />
  <logger name="io.swagger.v3.core.converter.ModelConverterContextImpl"       level="${EXCHANGE_LOG_SWAGGER_MODELCONVERTERCONTEXTIMPL:-info}" />
  <logger name="io.swagger.v3.jaxrs2.Reader"                                  level="${EXCHANGE_LOG_SWAGGER_JAXRS2_READER:-info}" />
  <!-- <logger name="org.apache.pekko.actor.CoordinatedShutdown"                   level="${log.pekko.actor.coordinatedshutdown:-debug}" />
  <logger name="org.apache.pekko.event.EventStream"                           level="${log.pekko.event.eventstream:-debug}" />
  <logger name="org.apache.pekko.io.TcpListener"                              level="${log.pekko.io.tcplistner:-debug}" /> -->
  <logger name="scalacache.caffeine.CaffeineCache"                            level="${EXCHANGE_LOG_SCALACACHE_CAFFEINE:-info}"/>
  <logger name="slick.basic.BasicBackend.action"                              level="${EXCHANGE_LOG_SLICK_ACTION:-info}" />
  <logger name="slick.basic.BasicBackend.stream"                              level="${EXCHANGE_LOG_SLICK_STREAM:-info}" />
  <logger name="slick.compiler"                                               level="${EXCHANGE_LOG_SLICK_COMPILER:-info}" />
  <logger name="slick.compiler.AssignUniqueSymbols"                           level="${EXCHANGE_LOG_SLICK_COMPILER_ASSIGNUNIQUESYMBOLS:-inherited}" />
  <logger name="slick.compiler.CodeGen"                                       level="${EXCHANGE_LOG_SLICK_COMPILER_CODEGEN:-inherited}" />
  <logger name="slick.compiler.CreateAggregates"                              level="${EXCHANGE_LOG_SLICK_COMPILER_CREATEAGGREGATES:-inherited}" />
  <logger name="slick.compiler.CreateResultSetMapping"                        level="${EXCHANGE_LOG_SLICK_COMPILER_CREATERESULTSETMAPPING:-inherited}" />
  <logger name="slick.compiler.EmulateOuterJoins"                             level="${EXCHANGE_LOG_SLICK_COMPILER_EMULATEOUTERJOINS:-inherited}" />
  <logger name="slick.compiler.ExpandConditionals"                            level="${EXCHANGE_LOG_SLICK_COMPILER_EXPANDCONDITIONALS:-inherited}" />
  <logger name="slick.compiler.ExpandRecords"                                 level="${EXCHANGE_LOG_SLICK_COMPILER_EXPANDRECORDS:-inherited}" />
  <logger name="slick.compiler.ExpandSums"                                    level="${EXCHANGE_LOG_SLICK_COMPILER_EXPANDSUMS:-inherited}" />
  <logger name="slick.compiler.ExpandTables"                                  level="${EXCHANGE_LOG_SLICK_COMPILER_EXPANDTABLES:-inherited}" />
  <logger name="slick.compiler.FixRowNumberOrdering"                          level="${EXCHANGE_LOG_SLICK_COMPILER_FIXROWNUMBERORDERING:-inherited}" />
  <logger name="slick.compiler.FlattenProjections"                            level="${EXCHANGE_LOG_SLICK_COMPILER_FLATTENPROJECTIONS:-inherited}" />
  <logger name="slick.compiler.ForceOuterBinds"                               level="${EXCHANGE_LOG_SLICK_COMPILER_FORCEOUTERBINDS:-inherited}" />
  <logger name="slick.compiler.HoistClientOps"                                level="${EXCHANGE_LOG_SLICK_COMPILER_HOISTCLIENTOPS:-inherited}" />
  <logger name="slick.compiler.InferTypes"                                    level="${EXCHANGE_LOG_SLICK_COMPILER_INFERTYPES:-inherited}" />
  <logger name="slick.compiler.Inline"                                        level="${EXCHANGE_LOG_SLICK_COMPILER_INLINE:-inherited}" />
  <logger name="slick.compiler.InsertCompiler"                                level="${EXCHANGE_LOG_SLICK_COMPILER_INSERTCOMPILER:-inherited}" />
  <logger name="slick.compiler.MergeToComprehensions"                         level="${EXCHANGE_LOG_SLICK_COMPILER_MERGETOCOMPREHENSIONS:-inherited}" />
  <logger name="slick.compiler.OptimizeScalar"                                level="${EXCHANGE_LOG_SLICK_COMPILER_OPTIMIZESCALAR:-inherited}" />
  <logger name="slick.compiler.PruneProjections"                              level="${EXCHANGE_LOG_SLICK_COMPILER_PRUNEPROJECTIONS:-inherited}" />
  <logger name="slick.compiler.QueryCompiler"                                 level="${EXCHANGE_LOG_SLICK_COMPILER_QUERY:-inherited}" />
  <logger name="slick.compiler.QueryCompilerBenchmark"                        level="${EXCHANGE_LOG_SLICK_COMPILER_QUERY_BENCHMARK:-inherited}" />
  <logger name="slick.compiler.RemoveFieldNames"                              level="${EXCHANGE_LOG_SLICK_COMPILER_REMOVEFIELDNAMES:-inherited}" />
  <logger name="slick.compiler.RemoveMappedTypes"                             level="${EXCHANGE_LOG_SLICK_COMPILER_REMOVEMAPPEDTYPES:-inherited}" />
  <logger name="slick.compiler.RemoveTakeDrop"                                level="${EXCHANGE_LOG_SLICK_COMPILER_REMOVETAKEDROP:-inherited}" />
  <logger name="slick.compiler.ReorderOperations"                             level="${EXCHANGE_LOG_SLICK_COMPILER_REORDEROPERATIONS:-inherited}" />
  <logger name="slick.compiler.ResolveZipJoins"                               level="${EXCHANGE_LOG_SLICK_COMPILER_RESOLVEZIPJOINS:-inherited}" />
  <logger name="slick.compiler.RewriteBooleans"                               level="${EXCHANGE_LOG_SLICK_COMPILER_REWRITEBOOLEANS:-inherited}" />
  <logger name="slick.compiler.RewriteDistinct"                               level="${EXCHANGE_LOG_SLICK_COMPILER_REWRITEDISTINCT:-inherited}" />
  <logger name="slick.compiler.RewriteJoins"                                  level="${EXCHANGE_LOG_SLICK_COMPILER_REWRITEJOINS:-inherited}" />
  <logger name="slick.compiler.SpecializeParameters"                          level="${EXCHANGE_LOG_SLICK_COMPILER_SPECIALPARAMETERS:-inherited}" />
  <logger name="slick.compiler.VerifyTypes"                                   level="${EXCHANGE_LOG_SLICK_COMPILER_VERIFYTYPES:-inherited}" />
  <logger name="slick.jdbc.DriverDataSource"                                  level="${EXCHANGE_LOG_SLICK_JDBC_DRIVERDATASOURCE:-info}" />
  <logger name="slick.jdbc.JdbcBackend.benchmark"                             level="${EXCHANGE_LOG_SLICK_JDBC_BENCHMARK:-info}" />
  <logger name="slick.jdbc.JdbcBackend.parameter"                             level="${EXCHANGE_LOG_SLICK_JDBC_PARAMETER:-info}" />
  <logger name="slick.jdbc.JdbcBackend.statement"                             level="${EXCHANGE_LOG_SLICK_JDBC_STATEMENT:-info}" />
  <logger name="slick.jdbc.JdbcBackend.statementAndParameter"                 level="${EXCHANGE_LOG_SLICK_JDBC_STATEMENTANDPARAMETER:-info}" />
  <logger name="slick.jdbc.StatementInvoker.result"                           level="${EXCHANGE_LOG_SLICK_JDBC_STATEMENTINVOLKER_RESULT:-info}" />
  <logger name="slick.jdbc.JdbcModelBuilder"                                  level="${EXCHANGE_LOG_SLICK_JDBC_JDBCMODELBUILDER:-info}" />
  <logger name="slick.memory.HeapBackend"                                     level="${EXCHANGE_LOG_SLICK_MEMORY_HEAPBACKEND:-inherited}" />
  <logger name="slick.memory.QueryInterpreter"                                level="${EXCHANGE_LOG_SLICK_MEMORY_QUERYINTERPRETER:-inherited}" />
  <logger name="slick.relational.ResultConverterCompiler"                     level="${EXCHANGE_LOG_SLICK_RELATIONAL:-info}" />
  <logger name="slick.util.AsyncExecutor"                                     level="${EXCHANGE_LOG_SLICK_ASYNCEXECUTOR:-info}" />


  <root level="DEBUG">
    <appender-ref ref="ASYNC"/>
    <!-- <appender-ref ref="ASYNC2"/> -->
  </root>
</configuration>