{
  "api": {
    "db": { 
      "jdbcUrl": "$EXCHANGE_DB_URL",
      "user": "$EXCHANGE_DB_USER",
      "password": "$EXCHANGE_DB_PW"
    },
    "root": { 
      "password": "$EXCHANGE_ROOT_PW"
    },
    "ssl": {
      "password": "$EXCHANGE_TRUST_PW",
      "truststore": "$EXCHANGE_TRUST_LOC"
    }
  }
}
